<!-- =========================================================
     SIDEBAR
========================================================= -->

<c-sidebar id="sidebar1" class="d-print-none sidebar sidebar-fixed border-end" placement="start" position="fixed"
  [visible]="sidebarVisible">


  <!-- =======================================================
       CUSTOM SIDEBAR
  ======================================================== -->

  <app-custom-sidebar></app-custom-sidebar>


</c-sidebar>



<!-- =========================================================
     MAIN WRAPPER
========================================================= -->

<div class="wrapper d-flex flex-column min-vh-100">


  <!-- =======================================================
       HEADER
  ======================================================== -->

  <app-default-header [cShadowOnScroll]="'sm'" class="d-print-none header header-sticky p-0 shadow-sm" position="sticky"
    sidebarId="sidebar1" style="margin-bottom: 20px;">
  </app-default-header>



  <!-- =======================================================
       BODY
  ======================================================== -->

  <div class="body flex-grow-1">


    <c-container breakpoint="lg" class="h-auto px-4">


      <!-- ===================================================
           SIDEBAR TOGGLE BUTTON
      ==================================================== -->

      <!-- <button type="button" class="sidebar-toggle-button" [class.sidebar-open]="sidebarVisible"
        [class.sidebar-closed]="!sidebarVisible" [attr.aria-label]="
          sidebarVisible
            ? 'Close sidebar'
            : 'Open sidebar'
        " [attr.title]="
          sidebarVisible
            ? 'Close sidebar'
            : 'Open sidebar'
        " (click)="toggleSidebar()"> -->


        <!-- =================================================
             CLOSE SIDEBAR
        ================================================== -->

        <!-- <i *ngIf="sidebarVisible" class="fa-solid fa-angles-left">
        </i> -->


        <!-- =================================================
             OPEN SIDEBAR
        ================================================== -->

        <!-- <i *ngIf="!sidebarVisible" class="fa-solid fa-angles-right">
        </i>


      </button> -->



      <!-- ===================================================
           PAGE CONTENT
      ==================================================== -->

      <router-outlet></router-outlet>


    </c-container>


  </div>



  <!-- =======================================================
       FOOTER
  ======================================================== -->

  <app-default-footer></app-default-footer>


</div>