<c-row>
  <c-col xs="14">
    <!-- <c-card class="mb-4"> -->
      <!-- <c-card-body> -->
        <!-- <c-row class="dashboard-row"> -->
          <c-col xs="12" class="dashboard-col">
            <c-card class="dashboard-card">
              <img src="assets/images/dashboard-banner.png" alt="AudiSpeech Dashboard" class="dashboard-image" style="height: 600px;" />
            </c-card>
          </c-col>
        <!-- </c-row> -->
      <!-- </c-card-body> -->
    <!-- </c-card> -->
  </c-col>
</c-row>